<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经历</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iOS开发工程师</h3>
                            <div class="time">2016.08 — 2017.06</div>
                        </div><!--//upper-row-->
                        <div class="company">成都画时代科技有限公司</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>我在入职后，维护4个项目，开发并上线3个项目（电商、单车）。</p>  
                        <p>1.整体App的开发和重构。 整体重构结算流程，重复代码优化，生成模板，来实现重复调用，提高代码效率；</p>  
                        <p>2.与后台沟通，根据主导设计规则进行开发，与各个接口进行对接；</p>  
                        <p>3.对于客户的反馈进行针对性调整和优化。</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iOS开发工程师</h3>
                            <div class="time">2015.12 — 2016.04</div>
                        </div><!--//upper-row-->
                        <div class="company">成都亿桥科技有限公司</div>
                    </div><!--//meta-->
                    <div class="details">  
                        <p>1.负责App技术框架优化，项目开发UI框架搭建和设计，独立完成客户端软件需求的整理和软件设计；</p>  
                        <p>2.学习和研究手机客户端领域的新技术并加以应用以满足产品的需求，分析并解决软件开发中的技术问题，根据开发过程中的体验对产品提出改进建议。</p>  
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->