<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经验</h2>

                <div class="item">
                    <span class="project-title"><a href="https://itunes.apple.com/cn/app/tibike/id1221822385?l=zh&ls=1&mt=8" target="_blank">Tibike共享单车</a></span> - 
                    <span class="project-tagline">共享单车项目</span>
                    <ol>
                        <li>使用高德地图实现地图功能；</li>
                        <li>在布局方面使用了IB和Mansory；</li>
                        <li>使用BlowFish对传输数据进行加密和解密；</li>
                        <li>使用git对项目代码进行版本控制，使用CocoaPods对第三方库的进行管理和安装。</li>
                    </ol>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://itunes.apple.com/cn/app/%E8%8A%B3%E5%93%81%E5%95%86%E8%B4%B8%E9%97%A8%E5%BA%97%E7%AB%AF/id1197963132?l=zh&ls=1&mt=8" target="_blank">芳品商贸门店端</a></span> - 
                    <span class="project-tagline">芳品商贸连锁店门店终端定货专用</span>
                    <ol>
                        <li>使用MVVM架构，方便代码维护以及迭代；</li>
                        <li>购物模块的开发与接口对接；</li>
                        <li>利用realm实现数据库；</li>
                        <li>与客户进行项目交流以及反馈处理。</li>
                    </ol>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://itunes.apple.com/app/id1073407938" target="_blank">呦呦车生活</a></span> - 
                    <span class="project-tagline">车辆维护预约平台</span>
                    <ol>
                        <li>实现支付宝，微信和银联支付，以及各个支付的相关跳转； </li>
                        <li>地理位置定位与标注，地理编码功能的使用等。</li>
                    </ol>
                </div><!--//item-->
                
            </section><!--//section-->