<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>技能清单</h2>
                <!--
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Objective-C</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div>                                
                    </div>

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>                                      
                        </div>                               
                    </div>
                    <div class="item">
                        <h3 class="level-title">Swift &amp; C</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="15%">
                            </div>                                      
                        </div>                               
                    </div>
                </div> 
                //item-->
                <ul><li>熟练掌握 iOS 开发技能；</li><li>理解 iOS 内存管理机制, Runtime, Runloop；</li><li>熟练掌握 Realm 数据库的使用；</li><li>熟练使用 AFNetworking, 并以此搭建第三方库方便使用；</li><li>熟练使用各大支付平台SDK;</li><li>熟练使用 git 进行版本管理；</li><li>熟悉常用设计模式;</li><li>了解多线程开发;</li><li>代码可读性强逻辑清晰,有过架构经验;</li><li>擅长阅读并理解他人代码。</li></ul>
                
            </section><!--//skills-section-->